<!-- 양방향 바인딩 이용해서 투두리스트 만들귀~ -->
<!-- 
    1. 체크(처리완료)하면 줄긋기 -> 줄긋기 클래스css만들어두고 동적바인딩
    2. 입력시 -> items배열에 item객체 추가, 이때 각 item객체는 text와 ischecked 포함.
    3. 출력시 -> li태그 밑에 items 포문 돌린다. -> 이때 체크박스는 item.isChecked랑 v-model로 바인딩한다.
            -이때, 만들어둔 클래스CSS 동적바인딩한다.
    4. 완료 목록 삭제버튼누르면 -> items를 필터를 돌려줌, checked안된 애들만 남겨줌. 
    5. 로컬스토리지 이용하기
        - 새로고침해도 목록 안날아가게 할 수 있음
        - 추가시, 그리고 제거시마다 로컬스토리지에 현재 목록을 저장하고,
        - 첫 랜더링시에 items를 로컬스토리지에 저장된걸 불러와서 할당해줌 (로컬저장소에 없으면 빈배열)
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 체크여부에 따라 이 css가 토글되면 되겠다 -->
    <style>
        .checkedDecoration {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <h1>Todo List</h1>

    <div id="app">
        <!-- 사용자 입력 파트 -->
        <div>
            <input type="text" v-model="word">
            <button @click="plusTodoList">+</button>
        </div>
        <!-- 출력 파트 -->
        <div>
            <ul>
                <li v-for="item in items" :class="{ checkedDecoration: item.isChecked}">
                    <input type="checkbox" v-model="item.isChecked">{{item.text}}
                    <!-- 체크박스는 기본적으로 checked 속성을 내장하고 있음을 기억하자
                        체크박스는 값이 체크여부임. 그래서 v-model="X"로 바인딩하면 체크여부랑 X랑 운명공동체되는거임 
                        (input type=text태그는 v-model로 묵으면 텍스트 값이 묶이는것처럼,, )
                    그래서 체크박스에 체크를하면 v-model바인딩된 item.isChecked 값이 true로 바뀌고, 체크해제하면 false로 바뀐다링 -->
                </li>
            </ul>
        </div>
        <button @click="deleteChecked">완료 목록 삭제</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                word: '',
                items: localStorage.getItem('items') ? JSON.parse(localStorage.getItem('items')) : [], //로컬스토리지에 있으면 가져오고 없으면 빈배열
            },
            methods: {
                plusTodoList : function (){
                    if(this.word.length===0){
                        alert("내용을 입력해 주세요!")
                    }else{
                        this.items.push({
                            text: this.word,
                            isChecked : false,
                        })
                    }

                    //내장객체 localStorage이용해서 브라우저에 정보 저장하기
                    // [참고] 로컬스토리지에는 문자열 밖에 저장하지 못함
                    // [참고] 로컬스토리지는 5MB로 작은공간이라 자주 쓰진 않는데 종종 잘 활용 된다~
                    localStorage.setItem('items', JSON.stringify(this.items))
                },
                deleteChecked (){
                    this.items = this.items.filter((element) =>{
                        return element.isChecked === false
                    })
                    localStorage.setItem('items', JSON.stringify(this.items))
                }
            }
        })

    </script>
</body>
</html>